.player-list {
    margin: 0;
    padding: 0;
    list-style: none;
    &-item {
        cursor: pointer;
        background: @blue;
        color: @white;
        border: 4px solid @white;
        border-radius: 2px;
        margin: 10px auto;
        a {
            color:inherit;
            text-decoration: none;
            display: block;
            padding: 20px;
        }
    }
}