// font-families
@sans: Helvetica, Arial, sans-serif;
@serif: Cambria, Georgia, serif;
@monospace: "Lucida Console", "Lucida Sans Typewriter", monaco, "Bitstream Vera Sans Mono", monospace;

// font-sizes 
@small-text: 10px;
@normal-text: 14px;
@large-text: 18px;

// colors (all stolen from https://wilk.byu.edu/sites/all/files/pingPong.jpg)
@blue: #0b50b1;
@red: #df4935;
@white: #f1f1f1;
@black: #262930;
@grey: #3e3e46;

// responsive breakpoints
@phone: 450px;
@tablet: 800px;
@desktop: 1200px;
