.player {
    &--winner {
        font-weight:bold;
    }
}

.close-button {
    position: absolute;
    top:5px;
    right:5px;
    padding:5px;
    font-size: @large-text;
    background: transparent;
    color:@white;
    &:hover,
    &:focus, 
    &:active {
        color:darken(@white, 20%);
    }
}

.action-button {
    background: @blue;
    border-radius: 5px;
    padding:10px 25px;
    color:@white;
    font-weight: bold;

    &:hover,
    &:focus, 
    &:active {
        color:darken(@white, 20%);
    }
}