@import "../../node_modules/bootstrap-less/bootstrap/index";
@import "_variables";

*, *:before, *:after {
    box-sizing: inherit;
}

html {
    margin:0;
    padding:0;
    font: @normal-text @sans;
    box-sizing: border-box;
}

@import "common";

@import "players/players";
@import "tables/tables";