.table-list {
    margin: 0;
    padding: 0;
    list-style: none;
    &-item {
        cursor: pointer;
        background: @blue;
        color: @white;
        border: 4px solid @white;
        border-radius: 2px;
        padding: 20px;
        margin: 10px auto;
        position: relative;
        h4 {
            font: @large-text @serif;
        }
    }
}