<div class="modal-header">
    <h3 class="modal-title" id="modal-title">New Player</h3>
</div>
<div class="modal-body" id="modal-body">
    <form name="newPlayer">
        <div class="form-group">
            <label for="name">
                First Name
            </label>
            <input class="form-control" required ng-model="$ctrl.newPlayer.firstName" type="text" name="name" value="" placeholder="Player Name">
        </div>
        <div class="form-group">
            <label for="name">
                Last Name
            </label>
            <input class="form-control" required ng-model="$ctrl.newPlayer.lastName" type="text" name="name" value="" placeholder="Player Name">
        </div>
    </form>
</div>
<div class="modal-footer">
    <button class="btn btn-primary" type="button" ng-disabled="newPlayer.$invalid" ng-click="$ctrl.handleOk()">OK</button>
    <button class="btn btn-warning" type="button" ng-click="$ctrl.handleCancel()">Cancel</button>
</div>