<main class="player-detail">
    <h1>{{$ctrl.player.firstName}}&nbsp;{{$ctrl.player.lastName}}</h1>
    <dl ng-if="$ctrl.games.totalGames > 0">
        <dt>Total Games Played</dt>
        <dd>{{$ctrl.games.totalGames}}</dd>
        <dt>Total Points Scored</dt>
        <dd>{{$ctrl.games.totalPoints}}</dd>
        <dt>Average Points Per Game</dt>
        <dd>{{$ctrl.games.pointsPerGame | number}}</dd>
        <dt>Win Percentage</dt>
        <dd>{{$ctrl.games.winPercentage | number:1}}</dd>
    </dl>
    <div ng-if="$ctrl.games.totalGames == 0">
        No games played yet.  Go find a <a ui-sref="tables.tables">table</a> and play!
    </div>

</main>