<a class="btn action-button" ui-sref="players.new">+ New Player</a>
<ul class="player-list">
    <li class="player-list-item" ng-repeat="player in $ctrl.players">
        <a ui-sref="player({playerId: player.id})">{{player.firstName}}&nbsp;{{player.lastName}}</a>
    </li>
</ul>