@{
    ViewData["Title"] = "About";
}
<h2>@ViewData["Title"].</h2>

<h4>Technology</h4>
<ul>
    <li>
        <a href="https://www.asp.net/core">ASP.NET Core</a>
    </li>
    <li>
        <a href="https://docs.microsoft.com/en-us/ef/">Entity Framework</a>
    </li>
    <li>
        <a href="https://angularjs.org/">Angular</a>
    </li>
    <li>
        <a href="https://www.npmjs.com/">NPM</a>
    </li>
</ul>