@{ ViewData["Title"] = "Home Page"; }
<div ng-app="pongApplication">
    <nav>
        <h1>PongApp</h1>
        <a ui-sref="tables.tables">Tables</a>
        <a ui-sref="players">Players</a>
    </nav>
    <ui-view></ui-view>
</div>