<div class="modal-header">
    <h3 class="modal-title" id="modal-title">New Table</h3>
</div>
<div class="modal-body" id="modal-body">
    <form name="newTable">
        <div class="form-group">
            <label for="name">
                Name
            </label>
            <input class="form-control" required ng-model="$ctrl.newTable.name" type="text" name="name" value="" placeholder="Table Name">
        </div>
        <div class="form-group">
            <label for="desc">
                Description
            </label>
            <textarea class="form-control" ng-model="$ctrl.newTable.description" placeholder="A short description of the table"></textarea>
        </div>
    </form>
</div>
<div class="modal-footer">
    <button class="btn btn-primary" type="button" ng-disabled="newTable.$invalid" ng-click="$ctrl.handleOk()">OK</button>
    <button class="btn btn-warning" type="button" ng-click="$ctrl.handleCancel()">Cancel</button>
</div>