<main class="table-detail">
    <a class="btn action-button" ui-sref="tables.table.new">
        + New Game
    </a>
    <section id="table-name">
        <h1>{{$ctrl.table.name}}</h1>
        <h4>{{$ctrl.table.description}}</h4>
    </section>
    <section id="table-games">
        <dl>
            <dt>Total Games Played</dt>
            <dd>{{$ctrl.table.numberOfGames}}</dd>
            <dt>Total Points Scored</dt>
            <dd>{{$ctrl.table.totalPointsScored}}</dd>
            <dt>Average Points Per Game</dt>
            <dd>{{$ctrl.table.totalPointsScored / $ctrl.table.numberOfGames | number:2}}</dd>
        </dl>
        <h4>Latest Games</h4>
        <ul id="recent-games">
            <li ng-repeat="game in $ctrl.table.latestGames" class="pong-game">
                <span class="player" ng-class="{'player--winner': game.player1.isWinner}">
                    <a ui-sref="player({playerId:game.player1.id})">{{game.player1.name}}</a> ({{game.player1.score}})
                </span> -
                <span class="player" ng-class="{'player--winner': game.player2.isWinner}">
                    <a ui-sref="player({playerId:game.player2.id})">{{game.player2.name}}</a> ({{game.player2.score}})
                </span>
                <span class="game-time">
                    {{game.time}}
                </span>
            </li>
        </ul>
    </section>
</main>