<a class="btn action-button" ui-sref="tables.tables.create">+ New Table</a>
<ul class="table-list">
    <li ng-repeat="table in $ctrl.tables" ng-click="$ctrl.goToTable(table)" class="table-list-item">
        <h4>{{table.name}}</h4>
        <h5>{{table.description}}</h5>
    </li>
</ul>