<div class="modal-header">
    <h3 class="modal-title" id="modal-title">New Game</h3>
</div>
<div class="modal-body" id="modal-body">
    <form name="newGame">
        <div class="form-group row">
            <div class="col-xs-6">
                <label for="player1">
                    Player One
                </label>
                <select class="form-control" ng-model="$ctrl.newGame.player1Id" id="player1" ng-options="player.id as (player.firstName + ' ' + player.lastName) disable when player.id == $ctrl.newGame.player2Id for player in $ctrl.resolve.players"></select>
            </div>
            <div class="col-xs-6">
                <label for="player1Points">
                    Score
                </label>
                <input class="form-control" ng-model="$ctrl.newGame.player1Points" type="number" name="player1Score" value="">
            </div>
        </div>
        <div class="form-group row">
            <div class="col-xs-6">
                <label for="player2">
                    Player Two
                </label>
                <select class="form-control" ng-model="$ctrl.newGame.player2Id" id="player2" ng-options="player.id as (player.firstName + ' ' + player.lastName) disable when player.id == $ctrl.newGame.player1Id for player in $ctrl.resolve.players"></select>
            </div>
            <div class="col-xs-6">
                <label for="player2Points">Score</label>
                <input class="form-control" ng-model="$ctrl.newGame.player2Points" type="number" name="player2Score" value="">
            </div>
        </div>
    </form>
</div>
<div class="modal-footer">
    <button class="btn btn-primary" type="button" ng-disabled="newGame.$invalid" ng-click="$ctrl.handleOk()">OK</button>
    <button class="btn btn-warning" type="button" ng-click="$ctrl.handleCancel()">Cancel</button>
</div>